@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center
	justify-content: center

b, strong
	font-weight: bold


.container
	margin-top: 200px

.reel
	box-sizing: border-box
	height: 300px
	border: 2px solid black
	position: relative
	overflow: hidden

.reel__stage,
.reel__wrapper
	position: absolute
	left: 0
	right: 0

.reel__stage
	top: -102px
	bottom: -102px
	transition: transform 2s ease

.reel__item
	height: 100px

.reel__img
	height: 100px
	object-fit: contain



@import "media" // Always at the end
